
/* Global Elements */

@font-face {
    font-family: 'AppleChancery';
    font-style: normal;
    font-weight: normal;
    src: local('AppleChancery'), url('../fonts/AppleChancery.woff') format('woff');
}

body {
    padding-top: 80px;
    font-family: 'PT Sans Narrow', 'sans-serif';
    font-size: 18px;
}

footer {
    background-color: #2F4F4F;
    bottom: 0;
    left: 0;
    right: 0;
}

main {
    min-height: calc(100vh - 202px);
}


/* Carousel */

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #C36328;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #C36328;
}


/* Button */

.btn-primary {
    background-color: #C36328;
    border-color: #C36328;
}

.btn-primary:hover {
    background-color: white;
    border-color: #C36328;
    color: #C36328;
}

.btn-shop {
    width: 150px;
}

#hover:hover {
    color: #FF8300;
}


/* Navbar */

.navbar-nav .nav-link {
    color: white;
}

.navbar {
    background-color: #2F4F4F;
}

.navbar-toggler-icon:hover {
    cursor: pointer;
}


/* Styling */

.font-ecommercer {
    color: #2F4F4F;
}

.font-shop {
    color: #C36328;
}

.title-bg {
     margin-top: 10px;
     background-color: #C36328;
     color: white;
     padding: 8px;
 }

.product-item {
    margin-bottom: 20px;
}

.img-top-sales {
    height: 100%;
    width: 220px;
}

.centered {
    text-align: center;
}


/* Responsive */

@media (max-width: 967px) {
    .separator {
        display: none;
    }
    .separator-menu {
        border-top: 1px solid #97A7A7;
        max-width: 180px;
    }
}








